ion-content {
    --background: #121212;
    color: #ffffff;
  }
  
  .map-placeholder {
    background: #2c2c2c;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    margin: 15px 0;
  }
  
  ion-card {
    background: #1e1e1e;
  }
  
  ion-card-title {
    color: #ffffff;
  }
  
  ion-item {
    --background: #1e1e1e;
    color: #ffffff;
  }
  
  .action-buttons {
    margin-top: 20px;
  }
  
  .status-message {
    margin: 10px 0;
    text-align: center;
  }
  /* crear-viaje.page.scss */
.map-container {
  height: 300px;
  width: 100%;
  margin-top: 15px;
  border-radius: 10px;
  overflow: hidden;
}
.destino-input-container {
  position: relative;
  width: 100%;
}

.suggestions-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #2a2a2a;
  border-radius: 8px;
  margin-top: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 200px;
  overflow-y: auto;
  z-index: 1000;
}

.suggestion-item {
  padding: 10px;
  color: #ffffff;
  cursor: pointer;
  border-bottom: 1px solid #444444;
  transition: background-color 0.3s;
}

.suggestion-item:last-child {
  border-bottom: none;
}

.suggestion-item:hover {
  background-color: #333333;
}
