<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Recuperar Contraseña</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" color="dark">
  <div class="form-slide">
    <h2 class="title">Recuperar Contraseña</h2>
    <form #formulario="ngForm" (ngSubmit)="recuperarPassword()">
      <ion-item lines="none" class="custom-item">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-input 
          label="Correo Electrónico" 
          required 
          type="email"
          labelPlacement="floating"
          [(ngModel)]="email" 
          name="email"
          placeholder="Correo Electrónico"></ion-input>
      </ion-item>
      <ion-button expand="block" fill="clear" type="submit" [disabled]="formulario.invalid" class="custom-button">
        Enviar Instrucciones
      </ion-button>
    </form>
    <ion-item lines="none" class="custom-text">
      <p><a href="/home" class="custom-link">Volver al Inicio</a></p>
    </ion-item>
  </div>
</ion-content>
